//顏色 
$co-bla:#212529;
$co-gra:#6C757D;
$co-gn:#198754;
$co-wh:white;

// 背景顏色
$bg-wh:#F8F9FA;
$bg-gn:#198754;

// 邊框顏色
$bd-gn:#198754;
$bd-wh:#CED4DA;

// 文字大小
$fz-1:12px;
$fz-2:14px;
$fz-3:16px;


// 文字粗細
$fw-bold:800;

// 文字方向
$ta-r:right;
$ta-1:left;

// 文字行高
$line-h:21px;



